---
---

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
            url("/assets/fonts/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
         url("/assets/fonts/Inter-Bold.woff?v=3.13") format("woff");
  }

$dark: #233F94;
$primary: #233F94;
$enable-responsive-font-sizes: true;
$pink: #E7131A;

@import 'bootstrap/bootstrap';

body {
    font-family: "Inter";
}
h1 {
    font-weight: bold;
    font-size: 5em;
}
@media (max-width: 575.98px) { 
    h1 {
        font-size: 2em;
    }
}
