<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    {% include navbar.html %}
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 mt-5">
                  <div class="container mt-3">
                    {{ content}}
                  </div>
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
  </body>
</html>